<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:zip_codes) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_zip_code), new_object_url, :icon => 'icon-plus', :id => 'admin_new_zip_code_link' %>
  </li>
<% end %>

<table class="index">
  <colgroup>
    <col style="width: 85%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr>
      <th><%= t('value') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @zip_codes.each do |zip_code| %>
      <tr>
        <td><%= zip_code.name %></td>
        <td class="actions">
          <%=link_to_edit zip_code, :no_text => true %>
          <%=link_to_delete zip_code, :no_text => true %>
        </td>
      </tr>
    <% end %>
    <% if @zip_codes.empty? %>
      <tr><td colspan="2"><%= t('none') %></td></tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= button_link_to Spree.t('new_zip_code'), new_admin_zip_code_url, :icon => 'add' %>
</p>